<form action="<%= "/decks/#{@deck.id}/cards/game-play" %>" method="post">
	<input type="radio" name="choice" value="fr" >Free Response
	<br>
	<input type="radio" name="choice" value="mc" >Multiple Choice
	<br>
	<input type="submit" value="Play Now!">
</form>
