<form action="<%= "/decks/#{@deck.id}/cards/game-play" %>" method="post">
	<input type="radio" name="choice" value="fr" id="fr"><label for="fr">Free Response</label>
	<input type="radio" name="choice" value="mc" id="mc"><label for="mc">Multiple Choice</label>
	<input type="submit" value="Play Now!">
</form>

