<article>
  <p><%= @card.front %></p>
</article>
<form action="<%= "/decks/#{@card.deck.id}/cards/#{@card.id}" %>" method="post">
  <% if multi_choice? %>
    <% selection(@card).each do |choice| %>
			<input type="radio" name="guess" value="<%= choice %>" ><%= choice %>
  		<br>
    <% end %>
  <% else %>
  <label for="guess">My answer:</label>
  <input type="text" id="guess" name="guess">
  <% end %>
  <input type="submit" value="Answer!">
</form>


