<article>
  <p><%= @card.front %></p>
</article>
<form action="<%= "/decks/#{@card.deck.id}/cards/#{@card.id}" %>" method="post">
  <label for="guess">My answer:</label>
  <input type="text" id="guess" name="guess">
  <input type="submit" value="Answer!">
</form>
