<article>
  <h1><%= @card.back %></h1>
</article>

<% if @correct %>
  <h2>Your guess of "<%= @guess %>" is correct!</h2>
<% else %>
  <h2>Your guess of "<%= @guess %>" is super wrong!</h2>
<% end %>

<h2><a href="/decks/<%= @card.deck.id %>/cards/next">Next Card</a></h2>
